# Backend
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/runbuddy_db
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=adithya2005
JWT_SECRET=14Gjchh7QSrr+PXGOt81mQRSq8QOWtRuPckkbmo9LjrcmVlxcwLJwg67o22TR2+gPhZC0wA4Wmxu5hm4UKbINg==
GOOGLE_MAPS_API_KEY=AIzaSyARxdZ5XpuKpM3g_xdjwzHN5IZcW4ZnNJk
FIREBASE_SERVER_KEY=7384c3d8f7bf3cfb34942c594460b09513a5eaa9

# Frontend
REACT_APP_API_BASE_URL=http://localhost:8081/api
REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyARxdZ5XpuKpM3g_xdjwzHN5IZcW4ZnNJk
REACT_APP_FIREBASE_CONFIG=your_firebase_config_json (for FCM client-side)
REACT_APP_FIREBASE_API_KEY=AIzaSyDEVpRa9KGFiHjDz3SuQ7ePEyp5ctW2d4k